* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
  box-sizing: border-box;
}

ul {
  font-size: 10px;
}

h1 {
  color: white;
  font-weight: 100;
  font-size: 32px;
}

p {
  font-size: 16px;
}

button {
  font-size: 10px;
}

header, section {
  height: 350px;
}


nav {
  background-color: #c12027;
  color: rgba(255,255,255,0.8);
  padding-top: 8px;
  height: 32px;
}
nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
  margin: 0 16px;
}

.top-left {
  display: inline;
}

.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

header {
 background: url("images/city-scape.svg")
}

.brand {
  padding-top: 8px;
}

.brand .logo{
  height: 32px;
  width: 6%;
  float: left;
  margin: 0 8px;
}

.brand input[type="text"]{
  display: inline-block;
  height: 32px;
  width: 72%;
  padding-left: 8px;
  background: rgb(31, 82, 111);
  border: 1px solid #447090;
}

.brand button[type="submit"]{
  height: 32px;
  width: 3%;
  border: 1px solid #447090;
  margin-left: -4px;
  background:  rgb(31, 82, 111);;
  color: white;
}

.brand button[type="submit"] i{
  font-size: 12px;
}

.brand button[type="button"]{
  border: none;
  width: 15%;
  background: transparent;
  color: #c9e3fc;
}

.brand button[type="button"] img{
  height: 20px;
  vertical-align: middle;
  margin-left: 4px;
}

.banner {
  width: 75%;
  height: 200px;
  margin: 0 auto;
  padding: 64px 0;
}

.banner-content {
  width: 50%;
}

.banner-content p {
  padding: 48px 8px;
}

.banner button {
  padding: 8px 16px;
  border-radius: 16px;
  border: none;
}

.banner img {
  width: 330px;
}

#sign-up-button {
  background: rgb(240, 146, 51);
}

#sign-org-button {
  background: rgb(203, 56, 55);
}

#install-npm-button {
  background: rgb(49, 68, 88);
}

section {
  background: rgb(39,53,71);
}

#collaboration {
  background-color: rgb(39,53,71);
}

#collaboration .banner-content {
  float: right;
}

#collaboration ul {
  margin-top: 32px;
}

#collaboration ul li {
  margin: 0 0 16px 32px;
}

#collaboration .help-text {
  padding: 8px 0;
 }

#whatisnpm{
  background: url("images/forklift.svg");
  background-size: 110%;
}


#whatcanyoumake {
  background: white;
}

#whatcanyoumake p {
  margin-top: 8px; 
  color: rgb(135, 145, 156);
}

.banner-heading {
  text-align: center;
}

.banner-heading h1{
  color: rgb(83, 88, 98);
}


.make-options {
  margin-top: 16px;
}

.make-options-items {
  width: 33%;
  float: left;
  text-align: center;
  padding: 24px;
}

.make-options-items img {
  width: 50%
}

.make-options-items h2 {
  color: rgb(83, 88, 98);
  font-size: 16px;
}
.make-options-items a {
  color: rgb(208, 74, 73);
  text-decoration: none;
  font-size: 16px;
}








